<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> Nike </title>
        <link rel="icon" type="image/x-icon" href="../../../../assets/favicon.ico" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top"><img src="https://img.freepik.com/iconos-gratis/nike_318-565950.jpg?size=626&ext=jpg&ga=GA1.1.730611117.1680025777&semt=sph" alt="Logo de Nike" style="max-width: 12%;"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/index">Productos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--Header-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">NIKE AIR MAX PULSE</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">Inspiradas en la energía musical de Londres, llegan las Air Max Pulse, resistentes y con la increíble sensación de Air.</h2>
                        <a class="btn btn-primary" href="/index">Comprar</a>
                    </div>
                </div>
            </div>
        </header>

        <!--Information-->
        <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="https://img.freepik.com/foto-gratis/zapatos-cerca-corredor-femenino-atar-sus-zapatos-ejercicio-jogging_1150-4203.jpg?size=626&ext=jpg&ga=GA1.1.730611117.1680025777&semt=sph" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Tienda oficial de Nike</h4>
                            <p class="black_color">
                                Defendemos el progreso continuo de los atletas y el deporte tomando medidas para ayudar a los atletas a alcanzar su potencial. Accede a los mejores
                                <a href="index.html">productos</a>
                                para convertirte en un gran deportista.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Contact-->
        <section class="background_photo contact-section bg-black">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Dirección</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">Calle de Serrano, 19. 28001, Madrid, España</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email de contacto</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="#!">tiendanike@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Teléfono de contaco</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">+34 612345678</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://twitter.com/nikestore"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="https://www.facebook.com/nike/?locale=es_ES"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </section>

        {{#peliculas}}
        <p class="reviewer">{{name}}</p>
        {{/peliculas}}


        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Tienda Oficial de Nike</div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../../../../js/scripts.js"></script>
        <!-- AGREGAR CÓDIGO JAVA SCRIPT AL HTML* * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
