<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buscador de Películas</title>
  <link href="/css/init.css" rel="stylesheet" />
</head>
<body>
<div class="container">
  <h1>Buscador de Películas</h1>
  <form id="search-form" action="/movies">
    <label for="genre-select">Selecciona un género:</label>
    <select id="genre-select" name="genre">
      <option value="">Todos los géneros</option>
      <option value="Thriller_film">Thriller film</option>
      <option value="Comedy">Comedy</option>
      <option value="Fantasy">Fantasy</option>
      <option value="Drama">Drama</option>
      <option value="Science_fiction">Science fiction</option>
      <option value="Horror_film">Horror_film</option>
    </select>
    <button type="submit">Buscar</button>
  </form>
</div>
</body>
</html>