<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Init</title>
  <link href="/css/init.css" rel="stylesheet" />
</head>
<body>
<div class="container">
  <h1>Buscador de Películas</h1>
  <form id="search-form" action="/movies">
    <input type="text" id="search-input" placeholder="Buscar películas...">
    <button type="submit">Buscar</button>
  </form>
  <div id="search-results"></div>
</div>
</body>
</html>
