<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Búsqueda</title>
    <link rel="stylesheet" href="styles-results.css">
    <link href="/css/movies.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    {{#num}}
    <div class="counter">Se encontraron <span id="result-count">{{.}}</span> películas</div>
    {{/num}}
    {{#peliculas}}
    <div id="search-results">
        <!-- Ejemplo de coincidencia de película -->
        <div class="movie">
            <img src="ruta/a/la/imagen.jpg" alt="Nombre de la película">
            <div class="movie-info">
                <h2>{{name}}</h2>

                <p>Género: {{genre}}</p>
                <p> Director: </p>
                {{#director}}
                <style>
                    .custom-form {
                        margin-left: 20px;
                    }
                </style>

                <form action="/informacionDirector" method="post" class="custom-form">
                    <input type="hidden" name="director" value="{{.}}">
                    <button type="submit" style="border: none; background: none; padding: 0; color: blue; text-decoration: underline; cursor: pointer;">{{.}}</button>
                </form>
                {{/director}}
                <p> </p>
                <p>Descripción: {{description}}</p>
            </div>
        </div>
        <!-- Fin del ejemplo -->
    </div>
    {{/peliculas}}
    {{#director}}
    <div id="search-result">
        <!-- Ejemplo de coincidencia de película -->
        <div class="movie">
            <img src="ruta/a/la/imagen.jpg" alt="Nombre del director">
            <div class="movie-info">
                <h2>{{name}}</h2>
                <p><strong>Año nacimiento:</strong> {{fecha}}</p>
                <p><strong>Película:</strong></p>
                {{#peliculas}}
                <form action="/moviesByTitle" method="get" class="custom-form" >
                    <input type="hidden" name="title" value="{{.}}">
                    <button type="submit" style="border: none; background: none; padding: 0; color: blue; text-decoration: underline; cursor: pointer;">
                        {{.}}</button>
                </form>
                {{/peliculas}}
                <p><strong>Actores que hayan salido en más de una peli:</strong></p>
                {{#actores}}
                <form action="/actor" method="post" class="custom-form" >
                    <input type="hidden" name="actor" value="{{.}}">
                    <button type="submit" style="border: none; background: none; padding: 0; color: blue; text-decoration: underline; cursor: pointer;">{{.}}</button>
                </form>
                {{/actores}}
            </div>
        </div>
    </div>
    {{/director}}
    {{#actor}}
    <div id="search-results2">
        <!-- Ejemplo de coincidencia de película -->
        <div class="movie">
            <img src="ruta/a/la/imagen.jpg" alt="Nombre del actor">
            <div class="movie-info">
                <h2>{{name}}</h2>
                <p><strong>Año nacimiento:</strong> {{fechaNaci}}</p>
                <p><strong>Lugar nacimiento:</strong></p>
                <form action="/ciudad" method="get" class="custom-form" >
                    <input type="hidden" name="ciudad" value="{{paisNaci}}">
                    <button type="submit" style="border: none; background: none; padding: 0; color: blue; text-decoration: underline; cursor: pointer;">
                        {{paisNaci}}</button>
                </form>
                <p><strong>Películas:</strong></p>
                {{#peliculas}}
                <form action="/moviesByTitle" method="get" class="custom-form" >
                    <input type="hidden" name="title" value="{{name}}">
                    <button type="submit" style="border: none; background: none; padding: 0; color: blue; text-decoration: underline; cursor: pointer;">
                        {{name}}</button>
                </form>
                {{/peliculas}}
            </div>
        </div>
    </div>
    {{/actor}}
    {{#ciudad}}
    <div id="search-results3">
        <!-- Ejemplo de coincidencia de película -->
        <div class="movie">
            <img src="ruta/a/la/imagen.jpg" alt="Lugar Nacimiento">
            <div class="movie-info">
                <h2>{{nombre}}</h2>
                <p><strong>Pais:</strong> {{pais}}</p>
                <p><strong>Terreno:</strong>{{extension}}</p>
            </div>
        </div>
    </div>
    {{/ciudad}}
</div>
</body>
</html>